---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app metabase
spec:
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  driftDetection:
    mode: enabled
    ignore:
      - paths:
          - /spec/containers/resources/limits
        target:
          kind: Pod
  values:
    controllers:
      metabase:
        annotations:
          reloader.stakater.com/search: "true"
        strategy: Recreate
        containers:
          app:
            image:
              repository: metabase/metabase
              tag: v0.52.0
            env:
              TZ: ${TIMEZONE}
              MB_DB_TYPE:
                valueFrom:
                  secretKeyRef:
                    name: metabase-db-secret
                    key: MB_DB_TYPE
              MB_DB_DBNAME:
                valueFrom:
                  secretKeyRef:
                    name: metabase-db-secret
                    key: MB_DB_DBNAME
              MB_DB_HOST:
                valueFrom:
                  secretKeyRef:
                    name: metabase-db-secret
                    key: MB_DB_HOST
              MB_DB_PORT:
                valueFrom:
                  secretKeyRef:
                    name: metabase-db-secret
                    key: MB_DB_PORT
              MB_DB_USER:
                valueFrom:
                  secretKeyRef:
                    name: metabase-db-secret
                    key: MB_DB_USER
              MB_DB_PASS:
                valueFrom:
                  secretKeyRef:
                    name: metabase-db-secret
                    key: MB_DB_PASS
            envFrom:
            - secretRef:
                name: metabase-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/health
                    port: &port 3000
                  initialDelaySeconds: 60
                  periodSeconds: 30
                  timeoutSeconds: 5
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                memory: 2Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
              runAsUser: 2000
              runAsGroup: 2000

    defaultPodOptions:
      securityContext:
        runAsGroup: 2000
        runAsUser: 2000
        runAsNonRoot: true
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile:
          type: RuntimeDefault

    service:
      app:
        controller: *app
        ports:
          http:
            port: 3000
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - host: &host "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      tmp:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp

