---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qdrant
spec:
  interval: 30m
  chart:
    spec:
      chart: qdrant
      version: 1.14.1
      sourceRef:
        kind: HelmRepository
        name: qdrant
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    replicaCount: 1

    image:
      repository: qdrant/qdrant
      tag: v1.14.1
      pullPolicy: IfNotPresent

    service:
      type: ClusterIP
      port: 6333
      grpcPort: 6334

    ingress:
      enabled: true
      className: internal
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/group: AI
        gethomepage.dev/name: Qdrant
        gethomepage.dev/icon: database.png
        gethomepage.dev/description: Vector Database
        external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
      ingressClassName: internal
      hosts:
        - host: "qdrant.${SECRET_DOMAIN}"
          paths:
            - path: /
              pathType: Prefix
              servicePort: 6333
            - path: /grpc
              pathType: Prefix
              servicePort: 6334
            - path: /metrics
              pathType: Prefix
              servicePort: 6335
      tls:
        - hosts:
            - "qdrant.${SECRET_DOMAIN}"

    persistence:
      enabled: true
      storageClass: ceph-block
      accessMode: ReadWriteOnce
      size: 10Gi
    securityContext:
      fsGroup: 65534
      runAsGroup: 65534
      runAsUser: 65534
      runAsNonRoot: true


