---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name radarr4k-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        # App
        RADARR__AUTH__APIKEY: "{{ .RADARR4K_API_KEY }}"
  dataFrom:
  - extract:
      key: radarr4k
---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name radarr4k-db-secret
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: crunchy-pgo-secrets
    kind: ClusterSecretStore
  target:
    name: *name
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: Opaque
      data:
        RADARR__POSTGRES__HOST: '{{ index . "pgbouncer-host" }}'
        RADARR__POSTGRES__PORT: '{{ index . "pgbouncer-port" }}'
        RADARR__POSTGRES__USER: '{{ .user }}'
        RADARR__POSTGRES__PASSWORD: '{{ .password }}'
        RADARR__POSTGRES__MAINDB: radarr4k_main
  dataFrom:
  - extract:
      key: postgres-pguser-radarr4k
