---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smartctl-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-smartctl-exporter
      version: 0.16.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: *app
    image:
      repository: ghcr.io/joryirving/smartctl_exporter
      tag: 0.14.0@sha256:24c92b081d6d583ea5de4fa4bb6c4880ce25cb28f297f7643257f288382f9074
    config:
      devices:
        - /dev/sda
        - /dev/nvme0n1
    serviceMonitor:
      enabled: true
      relabelings:
        - action: labeldrop
          regex: (pod)
    prometheusRules:
      enabled: false
    tolerations: {}
