---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: istiod
  namespace: istio-system
spec:
  interval: 30m
  chart:
    spec:
      chart: istiod
      version: 1.26.1
      sourceRef:
        kind: HelmRepository
        name: istio
        namespace: flux-system
  values:
    pilot:
      autoscaleEnabled: true
      autoscaleMin: 1
      autoscaleMax: 2
      env:
        PILOT_ENABLE_ALPHA_GATEWAY_API: "true"
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
    global:
      proxy:
        # resources:
        #   requests:
        #     cpu: 10m
        #     memory: 64Mi
        #   limits:
        #     memory: 128Mi
        # Include the following pods into the mesh with Istio sidecar
        autoInject: enabled
        # Exclude the following namespaces from Istio sidecar injection
      omitWebhookSidecarInjection:
        - kube-system
        - cert-manager
        - external-dns
        - flux-system
        - kube-node-lease
        - kube-public
        - node-feature-discovery
