---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: gha-runner-scale-set
spec:
  interval: 30m
  chart:
    spec:
      chart: gha-runner-scale-set
      version: 0.13.1
      sourceRef:
        kind: HelmRepository
        name: actions-runner-controller
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: gha-runner-scale-set-controller
      namespace: actions-runner-system
  valuesFrom:
    - kind: Secret
      name: actions-runner-controller-auth-secret
      valuesKey: github_token
      targetPath: githubConfigSecret.github_token
  values:
    nameOverride: gha-runner-scale-set
    runnerScaleSetName: gha-runner-scale-set
    githubConfigUrl: https://github.com/ekenheim/home-ops-upgrade
    minRunners: 1
    maxRunners: 10
    containerMode:
      type: dind
    template:
      spec:
        containers:
          - name: runner
            image: ghcr.io/joryirving/actions-runner:2.331.0@sha256:df3ff5477b25738aab537a2f53477ded1ab003a6b3279707a06940070d253732
            command: ["/home/runner/run.sh"]
    controllerServiceAccount:
      name: gha-runner-scale-set-controller
      namespace: actions-runner-system

#---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
#apiVersion: helm.toolkit.fluxcd.io/v2
#kind: HelmRelease
#metadata:
#  name: gha-runner-scale-set-ecom
#spec:
#  interval: 30m
#  chart:
#    spec:
#      chart: gha-runner-scale-set
#      version: 0.13.0
#      sourceRef:
#        kind: HelmRepository
#        name: actions-runner-controller
#        namespace: flux-system
#  install:
#    remediation:
#      retries: 3
#  dependsOn:
#    - name: gha-runner-scale-set-controller
#      namespace: actions-runner-system
#  valuesFrom:
#    - kind: Secret
#      name: actions-runner-controller-auth-secret
#      valuesKey: github_token
#      targetPath: githubConfigSecret.github_token
#  values:
#    nameOverride: gha-runner-scale-set-ecom
#    runnerScaleSetName: gha-runner-scale-set-ecom
#    githubConfigUrl: https://github.com/ekenheim/ecom
#    minRunners: 1
#    maxRunners: 10
#    containerMode:
#      type: dind
#    template:
#      spec:
#        containers:
#          - name: runner
#            image: ghcr.io/joryirving/actions-runner:2.330.0@sha256:c2f62918992c1e71dde2f072bbb41c84be62f4ec4aa383f20c6b08bd45dabfba
#            command: ["/home/runner/run.sh"]
#            envFrom:
#              - secretRef:
#                  name: ecom-storefront-build-secrets
#    controllerServiceAccount:
#      name: gha-runner-scale-set-controller
#      namespace: actions-runner-system
