---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # - ./backup/  # nothing to back up currently
  - ./operator-helmrelease.yaml
  - ./helmrelease.yaml
  - ./ingress.yaml
  - ./podmonitors.yaml
  - ./prometheusrule.yaml
  # Optional example workloads (opt-in):
  # - ../examples/cpu
  # - ../examples/gpu
  - ../../../../templates/volsync
  - ../../../../templates/gatus/guarded
