---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kuberay-operator
  namespace: datasci
spec:
  interval: 15m
  chart:
    spec:
      chart: kuberay-operator
      version: 1.4.1
      sourceRef:
        kind: HelmRepository
        name: kuberay
        namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    crds:
      enabled: true
