---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: kubeflow-pipelines--profile-object-store-auth--team-1-prod
  namespace: kubeflow
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: kubeflow-pipelines--profile-object-store-auth--team-1-prod
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      engineVersion: v2
      data:
        AWS_ACCESS_KEY_ID: "{{ .AWS_ACCESS_KEY_ID }}"
        AWS_SECRET_ACCESS_KEY: "{{ .AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: minio-secondary-creds

