apiVersion: apps/v1
kind: Deployment
metadata:
  name: kyverno-background-controller
  namespace: kyverno
spec:
  template:
    spec:
      containers:
        - name: controller
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              memory: 1Gi

