---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/nfd.k8s-sigs.io/nodefeaturerule_v1alpha1.json
apiVersion: nfd.k8s-sigs.io/v1alpha1
kind: NodeFeatureRule
metadata:
  name: riello-ups
spec:
  rules:
    - # riello
      name: riello.ups
      labels:
        ups.feature.node.kubernetes.io/riello: "true"
      matchFeatures:
        - feature: usb.device
          matchExpressions:
            vendor: { op: In, value: ["0e8d", "7961"] }
