---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kubeflow
resources:
  - ./namespace.yaml
  # Note: Kubeflow does not have an official Helm chart, so we use Kustomize manifests
  # instead of a HelmRelease. This is the standard deployment method for Kubeflow.
  # Kubeflow manifests from GitHub - using remote bases to reference official manifests
  # Update the ref/tag to the desired Kubeflow version
  - github.com/kubeflow/manifests/example?ref=v1.9.0

