---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  # Note: Kubeflow does not have an official Helm chart, so we use Kustomize manifests
  # instead of a HelmRelease. This is the standard deployment method for Kubeflow.
  # Reference the Kubeflow manifests from GitHub using remote base
  # The namespace will be applied via Flux's targetNamespace in ks.yaml
  - github.com/kubeflow/manifests/example?ref=v1.9.0
