---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spark-kubeflow-operator
  namespace: datasci
spec:
  interval: 15m
  chart:
    spec:
      chart: spark-operator
      version: "2.*"
      sourceRef:
        kind: HelmRepository
        name: kubeflow-spark-operator
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controller:
      workers: 4
    spark:
      jobNamespaces: ["datasci"]
    prometheus:
      metrics:
        enable: true
