---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
# Copy this folder into your k8s repo (e.g. kubernetes/apps/datasci/bandit/) and ensure path below matches.
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: bandit
  namespace: flux-system
spec:
  targetNamespace: datasci
  commonMetadata:
    labels:
      app.kubernetes.io/name: bandit
  path: ./kubernetes/apps/datasci/bandit/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
    namespace: flux-system
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  dependsOn:
    - name: external-secrets
    - name: crunchy-postgres-operator-cluster
    - name: crunchy-postgres-stores
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
      - kind: Secret
        name: cluster-secrets
