apiVersion: apps/v1
kind: Deployment
metadata:
  name: metadata-grpc-deployment
spec:
  template:
    spec:
      containers:
        - name: container
          env:
            - name: GLOG_logtostderr
              value: "1"
          resources:
            requests:
              cpu: 500m
              memory: 768Mi
            limits:
              cpu: 500m
              memory: 1024Mi
          startupProbe:
            tcpSocket:
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 10
            failureThreshold: 60

