---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
  namespace: argocd
spec:
  interval: 30m
  chart:
    spec:
      chart: argo-cd
      version: 9.1.7
      sourceRef:
        kind: HelmRepository
        name: argo-cd
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      revisionHistoryLimit: 2
    configs:
      cm:
        admin.enabled: "true"
    server:
      service:
        type: ClusterIP
      ingress:
        enabled: true
        ingressClassName: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
        hosts:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        paths:
          - /
        https: true
        tls:
          - hosts:
              - "{{ .Release.Name }}.${SECRET_DOMAIN}"
            secretName: argocd-secret
    dex:
      enabled: false

