---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
  namespace: argocd
  annotations:
    substitution.flux.home.arpa/disabled: "true"
spec:
  interval: 30m
  chart:
    spec:
      chart: argo-cd
      version: 9.1.7
      sourceRef:
        kind: HelmRepository
        name: argo-cd
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      revisionHistoryLimit: 2
    configs:
      cm:
        admin.enabled: "true"
      cmp:
        create: true
        plugins:
          deploykf:
            parameters:
              static:
                - name: output_kustomize_path
                  title: OUTPUT - KUSTOMIZE PATH
                  tooltip: the path under 'deploykf generate --output-dir' at which to run 'kusomtize build'
                  collectionType: string
                - name: output_helm_path
                  title: OUTPUT - HELM PATH
                  tooltip: the path under 'deploykf generate --output-dir' at which to run 'helm template'
                  collectionType: string
                - name: output_helm_values_files
                  title: OUTPUT - HELM VALUES FILES
                  tooltip: a list of paths under 'output_helm_path' with values files to use with 'helm template'
                  collectionType: array
                - name: source_version
                  title: SOURCE VERSION
                  tooltip: the '--source-version' to use with with the 'deploykf generate' command (mutually exclusive with `source_path`)
                  collectionType: string
                - name: source_path
                  title: SOURCE PATH
                  tooltip: the '--source-path' to use with the 'deploykf generate' command (mutually exclusive with `source_version`)
                  collectionType: string
                - name: values_files
                  title: VALUES FILES
                  tooltip: a list of paths (under the configured repo path) of '--values' files to use with 'deploykf generate'
                  collectionType: array
                - name: values
                  title: VALUES
                  tooltip: a string containing the contents of a '--values' file to use with 'deploykf generate'
                  collectionType: string
            init:
              command: ["/bin/bash","-c"]
              args:
                - |
                  set -eo pipefail

                  if [[ -n "$PARAM_SOURCE_VERSION" && -n "$PARAM_SOURCE_PATH" ]]; then
                    echo "ERROR: both 'source_version' and 'source_path' set" >&2; exit 1
                  elif [[ -z "$PARAM_SOURCE_VERSION" && -z "$PARAM_SOURCE_PATH" ]]; then
                    echo "ERROR: neither 'source_version' nor 'source_path' set" >&2; exit 1
                  fi

                  if [[ -n "$PARAM_OUTPUT_KUSTOMIZE_PATH" && -n "$PARAM_OUTPUT_HELM_PATH" ]]; then
                    echo "ERROR: both 'output_kustomize_path' and 'output_helm_path' set" >&2; exit 1
                  fi

                  if [[ -z "$PARAM_OUTPUT_KUSTOMIZE_PATH" && -z "$PARAM_OUTPUT_HELM_PATH" ]]; then
                    PARAM_OUTPUT_KUSTOMIZE_PATH="./argocd/"
                  fi

                  DKF_ARGS=()
                  OUTPUT_DIR="./__PLUGIN_GENERATOR_OUTPUT__"
                  DKF_ARGS+=("--output-dir" "$OUTPUT_DIR")

                  if [[ -n "$PARAM_SOURCE_VERSION" ]]; then
                    DKF_ARGS+=("--source-version" "$PARAM_SOURCE_VERSION")
                  fi
                  if [[ -n "$PARAM_SOURCE_PATH" ]]; then
                    DKF_ARGS+=("--source-path" "$PARAM_SOURCE_PATH")
                  fi

                  for env_var in ${!PARAM_VALUES_FILES_@}; do
                    VALUES_FILE_PATH="${!env_var}"
                    if [[ ! -f "$VALUES_FILE_PATH" ]]; then
                      echo "ERROR: values file '$VALUES_FILE_PATH' missing" >&2; exit 1
                    fi
                    DKF_ARGS+=("--values" "$VALUES_FILE_PATH")
                  done

                  if [[ -n "$PARAM_VALUES" ]]; then
                    USER_VALUES_FILE_PATH="./__PLUGIN_USER_VALUES__.yaml"
                    echo "$PARAM_VALUES" > "$USER_VALUES_FILE_PATH"
                    DKF_ARGS+=("--values" "$USER_VALUES_FILE_PATH")
                  fi

                  REQUIRED_VALUES='{"argocd":{"source":{"plugin":{"enabled":true}}}}'
                  REQUIRED_VALUES_FILE_PATH="./__PLUGIN_REQUIRED_VALUES__.yaml"
                  echo "$REQUIRED_VALUES" > "$REQUIRED_VALUES_FILE_PATH"
                  DKF_ARGS+=("--values" "$REQUIRED_VALUES_FILE_PATH")

                  deploykf generate "${DKF_ARGS[@]}"

                  if [[ -n "$PARAM_OUTPUT_KUSTOMIZE_PATH" ]]; then
                    OUTPUT_KUSTOMIZE_PATH=$(realpath "$OUTPUT_DIR/$PARAM_OUTPUT_KUSTOMIZE_PATH")
                    if [[ ! -d "$OUTPUT_KUSTOMIZE_PATH" ]]; then
                      echo "ERROR: output_kustomize_path '$OUTPUT_KUSTOMIZE_PATH' missing" >&2; exit 1
                    fi
                  fi

                  if [[ -n "$PARAM_OUTPUT_HELM_PATH" ]]; then
                    OUTPUT_HELM_PATH=$(realpath "$OUTPUT_DIR/$PARAM_OUTPUT_HELM_PATH")
                    if [[ ! -d "$OUTPUT_HELM_PATH" ]]; then
                      echo "ERROR: output_helm_path '$OUTPUT_HELM_PATH' missing" >&2; exit 1
                    fi
                    helm dependency list --max-col-width 10000 "$OUTPUT_HELM_PATH" | awk 'NR>1 {print $1,$3}' | while read -r name url; do
                      if [[ -n "$name" && -n "$url" && "$url" =~ "^https?://" ]]; then
                        helm repo add "$name" "$url" --force-update
                      fi
                    done
                    helm dependency build "$OUTPUT_HELM_PATH"
                  fi
            generate:
              command: ["/bin/bash","-c"]
              args:
                - |
                  set -eo pipefail
                  if [[ -z "$PARAM_OUTPUT_KUSTOMIZE_PATH" && -z "$PARAM_OUTPUT_HELM_PATH" ]]; then
                    PARAM_OUTPUT_KUSTOMIZE_PATH="./argocd/"
                  fi
                  OUTPUT_DIR="./__PLUGIN_GENERATOR_OUTPUT__"
                  if [[ -n "$PARAM_OUTPUT_KUSTOMIZE_PATH" ]]; then
                    OUTPUT_KUSTOMIZE_PATH=$(realpath "$OUTPUT_DIR/$PARAM_OUTPUT_KUSTOMIZE_PATH")
                    kubectl kustomize "$OUTPUT_KUSTOMIZE_PATH"
                  fi
                  if [[ -n "$PARAM_OUTPUT_HELM_PATH" ]]; then
                    OUTPUT_HELM_PATH=$(realpath "$OUTPUT_DIR/$PARAM_OUTPUT_HELM_PATH")
                    HELM_ARGS=()
                    if [[ -n "$ARGOCD_APP_NAME" ]]; then
                      HELM_ARGS+=("--name-template" "$ARGOCD_APP_NAME")
                    fi
                    if [[ -n "$ARGOCD_APP_NAMESPACE" ]]; then
                      HELM_ARGS+=("--namespace" "$ARGOCD_APP_NAMESPACE")
                    fi
                    if [[ -n "$KUBE_VERSION" ]]; then
                      HELM_ARGS+=("--kube-version" "$KUBE_VERSION")
                    fi
                    for env_var in ${!PARAM_OUTPUT_HELM_VALUES_FILES_@}; do
                      HELM_VALUES_FILE_PATH=$(realpath "$OUTPUT_HELM_PATH/${!env_var}")
                      if [[ -f "$HELM_VALUES_FILE_PATH" ]]; then
                        HELM_ARGS+=("--values" "$HELM_VALUES_FILE_PATH")
                      fi
                    done
                    if [[ -n "$KUBE_API_VERSIONS" ]]; then
                      IFS=',' read -ra KUBE_API_VERSIONS_ARRAY <<< "$KUBE_API_VERSIONS"
                      for KUBE_API_VERSION in "${KUBE_API_VERSIONS_ARRAY[@]}"; do
                        HELM_ARGS+=("--api-versions" "$KUBE_API_VERSION")
                      done
                    fi
                    HELM_ARGS+=("--include-crds")
                    helm template "$OUTPUT_HELM_PATH" "${HELM_ARGS[@]}"
                  fi
    server:
      service:
        type: ClusterIP
      ingress:
        enabled: true
        ingressClassName: internal
        hostname: argocd.${SECRET_DOMAIN}
        path: /
        pathType: Prefix
        tls: true
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
    repoServer:
      initContainers:
        - name: deploykf-plugin-setup--kubectl
          image: docker.io/bitnami/kubectl:1.26.10
          command: ["/bin/sh","-c"]
          args:
            - |
              echo "copying 'kubectl' binary to shared volume..."
              cp -f "$(which kubectl)" /tools/kubectl
          volumeMounts:
            - name: deploykf-plugin-tools
              mountPath: /tools
        - name: deploykf-plugin-setup--helm
          image: docker.io/alpine/helm:3.12.3
          command: ["/bin/sh","-c"]
          args:
            - |
              echo "copying 'helm' binary to shared volume..."
              cp -f "$(which helm)" /tools/helm
          volumeMounts:
            - name: deploykf-plugin-tools
              mountPath: /tools
        - name: deploykf-plugin-setup--deploykf
          image: ghcr.io/deploykf/cli:0.1.2
          command: ["/bin/sh","-c"]
          args:
            - |
              echo "copying 'deploykf' binary to shared volume..."
              cp -f "$(which deploykf)" /tools/deploykf
          volumeMounts:
            - name: deploykf-plugin-tools
              mountPath: /tools
      extraContainers:
        - name: deploykf-plugin
          image: docker.io/buildpack-deps:bookworm-curl
          securityContext:
            runAsNonRoot: true
            runAsUser: 999
          command: ["/var/run/argocd/argocd-cmp-server"]
          args: ["--loglevel","info"]
          env:
            - name: HELM_CACHE_HOME
              value: "/helm-working-dir"
            - name: HELM_CONFIG_HOME
              value: "/helm-working-dir"
            - name: HELM_DATA_HOME
              value: "/helm-working-dir"
          volumeMounts:
            - name: var-files
              mountPath: /var/run/argocd
            - name: plugins
              mountPath: /home/argocd/cmp-server/plugins
            - name: deploykf-plugin-tools
              mountPath: /usr/local/bin
            - name: argocd-cmp-cm
              mountPath: /home/argocd/cmp-server/config/plugin.yaml
              subPath: deploykf.yaml
            - name: deploykf-plugin-assets
              mountPath: /.deploykf/assets
            - name: helm-working-dir
              mountPath: /helm-working-dir
      volumes:
        - name: argocd-cmp-cm
          configMap:
            name: argocd-cmp-cm
        - name: deploykf-plugin-tools
          emptyDir: {}
        - name: deploykf-plugin-assets
          persistentVolumeClaim:
            claimName: argocd-deploykf-plugin-assets
        - name: helm-working-dir
          emptyDir: {}
    extraObjects:
      - |
        apiVersion: v1
        kind: PersistentVolumeClaim
        metadata:
          name: argocd-deploykf-plugin-assets
        spec:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi
    dex:
      enabled: false

