---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
  namespace: argocd
spec:
  interval: 30m
  chart:
    spec:
      chart: argo-cd
      version: 9.3.6
      sourceRef:
        kind: HelmRepository
        name: argo-cd
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      revisionHistoryLimit: 2
    configs:
      cm:
        admin.enabled: "true"
    server:
      service:
        type: ClusterIP
      ingress:
        enabled: true
        ingressClassName: internal
        hostname: argocd.${SECRET_DOMAIN}
        path: /
        pathType: Prefix
        tls: true
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
    dex:
      enabled: false
  valuesFrom:
    - kind: ConfigMap
      name: argocd-deploykf-values
      valuesKey: values-deploykf.yaml
