---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: argocd
  namespace: argocd
spec:
  interval: 30m
  chart:
    spec:
      chart: argo-cd
      version: 6.9.2
      sourceRef:
        kind: HelmRepository
        name: argo-cd
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    global:
      revisionHistoryLimit: 2
    configs:
      cm:
        admin.enabled: "false"
    server:
      service:
        type: ClusterIP
      ingress:
        enabled: false
    dex:
      enabled: false

