---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: grid-resilience
  namespace: flux-system
spec:
  targetNamespace: datasci
  commonMetadata:
    labels:
      app.kubernetes.io/name: grid-resilience
  dependsOn:
    - name: rook-ceph-cluster
  path: ./kubernetes/apps/datasci/grid-resilience/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
