---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      mariadb:
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/mariadb
              tag: 11.4.8@sha256:d33fb3da7766dbe445f4781b0a78e42fcf7e87d8cb4c9f2d5a37abaa8c4316ca
            env:
              TZ: ${TIMEZONE:=Etc/UTC}
              PUID: "1000"
              PGID: "1000"
              MYSQL_LOG_CONSOLE: "false"
              MYSQL_DATABASE: "pterodactyl"
              MYSQL_USER: "pterodactyl"
            envFrom:
              - secretRef:
                  name: mariadb-secret
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /bin/bash
                      - /scripts/check.sh
                  failureThreshold: 3
                  initialDelaySeconds: 120
                  periodSeconds: 10
                  successThreshold: 1
                  timeoutSeconds: 1
              readiness:
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /bin/bash
                      - /scripts/check.sh
                  failureThreshold: 10
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  successThreshold: 1
                  timeoutSeconds: 5
            resources:
              requests:
                cpu: 50m
                memory: 256Mi
              limits:
                memory: 512Mi
    service:
      app:
        controller: mariadb
        ipFamilyPolicy: PreferDualStack
        ports:
          mysql:
            port: 3306
            primary: true
    persistence:
      config:
        existingClaim: mariadb-data-v1
      scripts:
        type: configMap
        name: mariadb-check
