---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-data-v1
  namespace: database
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-block
  resources:
    requests:
      storage: 5Gi

