---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pterodactyl-wings-data
  labels:
    app.kubernetes.io/name: pterodactyl-wings
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ceph-block
  resources:
    requests:
      storage: 20Gi

