---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # Pre Flux-Kustomizations
  - ./namespace.yaml
  # Flux-Kustomizations
  #- ./umami/ks.yaml
  - ./bytewax/ks.yaml
  - ./meilisearch/ks.yaml
  - ./airbyte/ks.yaml
  - ./metabase/ks.yaml
  - ./redpanda/ks.yaml
  - ./harbor/ks.yaml
