---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app harbor
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: harbor
      version: 1.18.2
      sourceRef:
        kind: HelmRepository
        name: harbor
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
    - kind: Secret
      name: harbor-secret
      valuesKey: harborAdminPassword
      targetPath: harborAdminPassword
    - kind: Secret
      name: harbor-secret
      valuesKey: secretKey
      targetPath: secretKey
  values:
    expose:
      type: ingress
      tls:
        enabled: true
        certSource: secret
        secret:
          secretName: harbor-ingress
      ingress:
        hosts:
          core: harbor.${SECRET_DOMAIN}
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
          nginx.ingress.kubernetes.io/proxy-body-size: "0"

    externalURL: https://harbor.${SECRET_DOMAIN}
    ipFamily:
      ipv6:
        enabled: false
    persistence:
      enabled: true
      imageChartStorage:
        disableredirect: true
        type: s3
        s3:
          existingSecret: harbor-secret
          region: us-east-1
          bucket: harbor
          regionendpoint: http://minio-secondary.storage.svc.cluster.local:9000
          rootdirectory: /registry
      persistentVolumeClaim:
        jobservice:
          jobLog:
            storageClass: ceph-block
        database:
          storageClass: ceph-block
        redis:
          storageClass: ceph-block
        trivy:
          storageClass: ceph-block

    database:
      type: internal

    # our CSI does not support ReadWriteMany so we must use Recreate on pods
    updateStrategy:
      type: Recreate

    notary:
      enabled: false
