---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app huntarr
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      huntarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: huntarr/huntarr
              tag: 9.0.2@sha256:c8f7fbf8c4e638aaa347c0ecb3c33aeb90704e4adc51c4e7efbb24bdcff120ff
            env:
              TZ: ${TIMEZONE}

    service:
      app:
        controller: *app
        ports:
          http:
            port: 9705

    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/icon: huntarr.png
          gethomepage.dev/name: huntarr
          gethomepage.dev/group: Media
        hosts:
          - host: &host "huntarr.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    defaultPodOptions:
      securityContext:
        runAsUser: 568 # ${APP_UID}
        runAsGroup: 568 # ${APP_GID}
        fsGroup: 568 # ${APP_GID}
        fsGroupChangePolicy: "OnRootMismatch"

    persistence:
      config:
        existingClaim: *app
