---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kubeflow-authz-overrides
  namespace: flux-system
  labels:
    app.kubernetes.io/name: kubeflow-authz-overrides
spec:
  targetNamespace: kubeflow
  path: ./kubernetes/apps/datasci/kubeflow-authz-overrides
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-kubernetes
  dependsOn:
    - name: deploykf
    - name: istio-istiod
  wait: false
  interval: 30m
  retryInterval: 1m
  timeout: 5m
  postBuild:
    substituteFrom:
      - kind: ConfigMap
        name: cluster-settings
      - kind: Secret
        name: cluster-secrets


