---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mlflow
spec:
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 15m
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  driftDetection:
    mode: enabled
    ignore:
      - paths:
          - /spec/containers/resources/limits
        target:
          kind: Pod
  values:
    defaultPodOptions:
      securityContext:
        runAsGroup: 65534
        runAsUser: 65534
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault

    controllers:
      mlflow:
        annotations:
          reloader.stakater.com/search: "true"
        strategy: Recreate

        initContainers:
          db-upgrade:
            image:
              repository: ghcr.io/ninerealmlabs/mlflow-server
              tag: 3.1.0@sha256:ce897a34eaad1436f3aae76c179e53c9dde6e096dd843c93028d820e5b024b59
            env:
              MLFLOW_BACKEND_STORE_URI:
                valueFrom:
                  secretKeyRef:
                    name: mlflow-db-secret
                    key: MLFLOW_BACKEND_STORE_URI
            command: [/bin/bash, -c, mlflow db upgrade "$$MLFLOW_BACKEND_STORE_URI"]

        containers:
          app:
            image:
              # renovate: datasource=docker image=ghcr.io/...
              repository: ghcr.io/ninerealmlabs/mlflow-server
              tag: 3.1.0@sha256:ce897a34eaad1436f3aae76c179e53c9dde6e096dd843c93028d820e5b024b59
            # -- Override the command(s) for the default container
            command: [/bin/bash, -c, mlflow server]
            # -- Override the args for the default container
            # args:
            #   - "--backend-store-uri"
            #   - "$(POSTGRES_URL)"
            #   - "--default-artifact-root"
            #   - "/data"
            #   - "--host"
            #   - "0.0.0.0"
            env:
              TZ: ${TIMEZONE}
              MLFLOW_BACKEND_STORE_URI:
                valueFrom:
                  secretKeyRef:
                    name: mlflow-db-secret
                    key: MLFLOW_BACKEND_STORE_URI
              POSTGRES_DB:
                valueFrom:
                  secretKeyRef:
                    name: mlflow-db-secret
                    key: POSTGRES_DB
              POSTGRES_USER:
                valueFrom:
                  secretKeyRef:
                    name: mlflow-db-secret
                    key: POSTGRES_USER
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: mlflow-db-secret
                    key: POSTGRES_PASSWORD

              # --- S3 Artifact Store Config ---
              MLFLOW_DEFAULT_ARTIFACT_ROOT: s3://mlflow-artifacts/
              MLFLOW_S3_ENDPOINT_URL: http://minio-secondary.storage.svc.cluster.local:9000
              AWS_ACCESS_KEY_ID:
                valueFrom:
                  secretKeyRef:
                    name: mlflow-minio-creds
                    key: AWS_ACCESS_KEY_ID
              AWS_SECRET_ACCESS_KEY:
                valueFrom:
                  secretKeyRef:
                    name: mlflow-minio-creds
                    key: AWS_SECRET_ACCESS_KEY
              # --- End S3 Config ---

              # Set to true to have MLflow server proxy artifact requests
              MLFLOW_SERVE_ARTIFACTS: "true"
              MLFLOW_HOST: 0.0.0.0
              MLFLOW_PORT: &port 5000
            # envFrom:
            #   - secretRef:
            #       name: database-mlflow
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  initialDelaySeconds: 30
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
                  httpGet:
                    path: /health
                    port: *port
              readiness: *probes
              startup:
                enabled: true
                custom: true
                spec:
                  initialDelaySeconds: 0
                  timeoutSeconds: 1
                  periodSeconds: 5
                  failureThreshold: 30
                  httpGet:
                    path: /health
                    port: *port
            resources:
              requests:
                cpu: 25m
                memory: 105M
              # limits:
              #   memory: 105M
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    ingress:
      main:
        className: internal
        annotations:
          nginx.ingress.kubernetes.io/whitelist-source-range: |
            10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
        hosts:
          - host: &host mlflow.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /data # defaults to persistence.key
