apiVersion: v1
kind: Pod
metadata:
  name: mlflow-db-upgrade
  namespace: datasci
spec:
  containers:
  - name: mlflow
    image: ghcr.io/ninerealmlabs/mlflow-server:3.9.0@sha256:a6ebacf031a296df5bf3e5232e1116aca172bb42dc7ce6c577b589cb0c2d8f5c
    command: ["sleep", "3600"]  # This will keep the pod running for an hour
    env:
    - name: MLFLOW_BACKEND_STORE_URI
      valueFrom:
        secretKeyRef:
          name: mlflow-secret
          key: MLFLOW_BACKEND_STORE_URI
  restartPolicy: Never
