apiVersion: v1
kind: Pod
metadata:
  name: mlflow-db-upgrade
  namespace: datasci
spec:
  containers:
  - name: mlflow
    image: ghcr.io/ninerealmlabs/mlflow-server:3.10.0@sha256:acecaaf2210ba06420d229f5468339dec5716a7cb2a1602296c227ab276dd47f
    command: ["sleep", "3600"]  # This will keep the pod running for an hour
    env:
    - name: MLFLOW_BACKEND_STORE_URI
      valueFrom:
        secretKeyRef:
          name: mlflow-secret
          key: MLFLOW_BACKEND_STORE_URI
  restartPolicy: Never
