---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns-unifi
  namespace: network
spec:
  chart:
    spec:
      chart: external-dns
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
      version: 1.16.1
  install:
    remediation:
      retries: 3
  interval: 30m
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  values:
    domainFilters:
      - ${SECRET_DOMAIN}
      - ${SECRET_SECONDARY_DOMAIN}
      - istio.local
    extraArgs:
      - --ignore-ingress-tls-spec
      - --webhook-provider-url=http://localhost:8888
    fullnameOverride: external-dns-unifi
    logLevel: debug
    podAnnotations:
      secret.reloader.stakater.com/reload: external-dns-unifi-secret
    policy: sync
    provider:
      name: webhook
      webhook:
        env:
          - name: UNIFI_HOST
            value: https://192.168.1.1
          - name: UNIFI_API_KEY
            valueFrom:
              secretKeyRef:
                key: api-key
                name: external-dns-unifi-secret
          - name: UNIFI_SKIP_TLS_VERIFY
            value: "true"
          - name: UNIFI_SITE
            value: default
          - name: LOG_LEVEL
            value: debug
        image:
          repository: ghcr.io/kashalls/external-dns-unifi-webhook
          tag: v0.6.0@sha256:dd71adb88b64174b158481fb359dfe985d8bea1cad8cefba36209c8fc9eb03d3
        livenessProbe:
          httpGet:
            path: /healthz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
        readinessProbe:
          httpGet:
            path: /readyz
            port: http-webhook
          initialDelaySeconds: 10
          timeoutSeconds: 5
    serviceMonitor:
      enabled: true
    sources:
      - ingress
      - service
    txtOwnerId: main
    txtPrefix: k8s.main.
