---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redpanda
spec:
  interval: 30m
  chart:
    spec:
      chart: redpanda
      version: 5.10.7
      sourceRef:
        kind: HelmRepository
        name: redpanda
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    # https://artifacthub.io/packages/helm/redpanda-data/redpanda
    # https://github.com/redpanda-data/helm-charts/blob/main/charts/redpanda/values.yaml
    statefulset:
      replicas: 1
    resources:
      cpu:
        cores: 1
      memory:
        container:
          max: 1536Mi
    storage:
      persistentVolume:
        enabled: true
        size: 10Gi
    tls:
      enabled: false
    auth:
      sasl:
        enabled: false
    console:
      enabled: true
    monitoring:
      enabled: false
