---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ghost
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
    - name: ghost-mariadb
      namespace: blog
  values:
    controllers:
      ghost:
        containers:
          app:
            image:
              repository: ghost
              tag: 5.120.1
            env:
              TZ: "Stockholm/Europe"
              url: "https://${SECRET_SECONDARY_DOMAIN}"
              database__client: mysql
              database__connection__host: ghost-mariadb.blog.svc.cluster.local
              database__connection__user: ghost
              database__connection__database: ghost
              NODE_ENV: production
            envFrom:
              - secretRef:
                  name: ghost-secret
    service:
      app:
        controller: *app
        ports:
          http:
            port: 2368
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_SECONDARY_DOMAIN}
        hosts:
          - host: &host "${SECRET_SECONDARY_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      content:
        enabled: true
        globalMounts:
          - path: /var/lib/ghost/content
        existingClaim: ghost
