---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mlpipeline-minio-artifact
  namespace: kubeflow
spec:
  refreshInterval: 15m
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  target:
    name: mlpipeline-minio-artifact
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: Opaque
      data:
        accesskey: "{{ .AWS_ACCESS_KEY_ID }}"
        secretkey: "{{ .AWS_SECRET_ACCESS_KEY }}"
  dataFrom:
    - extract:
        key: minio-secondary-creds

