---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: redpanda-operator
spec:
  interval: 30m
  chart:
    spec:
      chart: operator
      version: 0.4.10
      sourceRef:
        kind: HelmRepository
        name: redpanda
        namespace: flux-system
  install:
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    crds: CreateReplace
    remediation:
      strategy: rollback
      retries: 3
  values:
    # https://artifacthub.io/packages/helm/redpanda-data/operator
    # https://github.com/redpanda-data/helm-charts/blob/main/charts/operator/values.yaml
    rbac:
      createRPKBundleCRs: true
