---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: immich-server
  namespace: default
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: immich-server
  podMetricsEndpoints:
    - path: /metrics
      interval: 1m
      targetPort: 8081
      metricRelabelings:
        - action: labeldrop
          regex: (pod)
