---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./team-1/allow-istio-ingress-any-user.yaml
  - ./team-1-prod/allow-istio-ingress-any-user.yaml


