---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app home-assistant
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: storage
  values:
    controllers:
      home-assistant:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/joryirving/home-assistant
              tag: 2025.3.3@sha256:94917e46a52c551fdfe23fcdcb995a9030bedb9bfa7c1f2d30fc562c3df930bc
            env:
              TZ: ${TIMEZONE}
            securityContext:
              runAsUser: 0
              runAsGroup: 0
              fsGroup: 0
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
            resources:
              requests:
                cpu: 50m
                memory: 400Mi
              limits:
                memory: 2Gi
          codeserver:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.98.2
            env:
              TZ: ${TIMEZONE}
            args:
              - "/config"
              - --auth
              - "none"
              - --user-data-dir
              - "/config/.vscode"
              - --extensions-dir
              - "/config/.vscode"
    defaultPodOptions:
      securityContext:
        runAsUser: 911
        runAsGroup: 911
        fsGroup: 911
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: *app
        nameOverride: *app
        type: LoadBalancer
        annotations:
          io.cilium/lb-ipam-ips: ${SVC_HOME_ASSISTANT_ADDR}
        ports:
          http:
            port: 8123
      codeserver:
        controller: *app
        type: ClusterIP
        ports:
          http:
            enabled: true
            port: 8080
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.${SECRET_DOMAIN}
        hosts:
          - host: hass.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
      codeserver:
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: internal-utility.${SECRET_DOMAIN}
        hosts:
          - host: hass-code.${SECRET_DOMAIN}
            paths:
            - path: /
              service:
                identifier: codeserver
                port: http
    persistence:
      config:
        existingClaim: *app
