---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./selfsigned-clusterissuer.yaml
  - ./deploykf-app-of-apps.yaml
  - ./oauth2-proxy-config-secret.yaml

