apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Default namespace for resources that don't specify one
namespace: kubeflow

resources:
  # Local resources
  - katib-postgres-secret.yaml
  - profiles.yaml
  # Kubeflow Pipelines - multi-user with cert-manager
  - https://github.com/kubeflow/manifests/applications/pipeline/upstream/env/cert-manager/platform-agnostic-multi-user?ref=v1.11.0
  # Katib - standalone Postgres
  - https://github.com/kubeflow/manifests/applications/katib/upstream/installs/katib-standalone-postgres?ref=v1.11.0
  # Central Dashboard
  - https://github.com/kubeflow/manifests/applications/centraldashboard/overlays/oauth2-proxy?ref=v1.11.0
  # Admission Webhook
  - https://github.com/kubeflow/manifests/applications/admission-webhook/upstream/overlays/cert-manager?ref=v1.11.0
  # Jupyter Web App
  - https://github.com/kubeflow/manifests/applications/jupyter/jupyter-web-app/upstream/overlays/istio?ref=v1.11.0
  # Notebook Controller
  - https://github.com/kubeflow/manifests/applications/jupyter/notebook-controller/upstream/overlays/kubeflow?ref=v1.11.0
  # Profiles + KFAM
  - https://github.com/kubeflow/manifests/applications/profiles/upstream/overlays/kubeflow?ref=v1.11.0
  # PVC Viewer Controller
  - https://github.com/kubeflow/manifests/applications/pvcviewer-controller/upstream/base?ref=v1.11.0
  # Volumes Web App
  - https://github.com/kubeflow/manifests/applications/volumes-web-app/upstream/overlays/istio?ref=v1.11.0
  # Tensorboard Controller
  - https://github.com/kubeflow/manifests/applications/tensorboard/tensorboard-controller/upstream/overlays/kubeflow?ref=v1.11.0
  # Tensorboards Web App
  - https://github.com/kubeflow/manifests/applications/tensorboard/tensorboards-web-app/upstream/overlays/istio?ref=v1.11.0
  # Trainer (Training Operator v2)
  - https://github.com/kubeflow/manifests/applications/trainer/upstream/overlays/kubeflow-platform?ref=v1.11.0
  # User namespace
  - https://github.com/kubeflow/manifests/common/user-namespace/base?ref=v1.11.0
  # KServe
  - https://github.com/kubeflow/manifests/applications/kserve/kserve?ref=v1.11.0
  # KServe Models Web App
  - https://github.com/kubeflow/manifests/applications/kserve/models-web-app/overlays/kubeflow?ref=v1.11.0

patches:
  # Trainer: fail-open webhooks and no Istio sidecar (avoids webhook TLS/timeouts)
  - path: patches/trainer-webhook-failure-policy.yaml
    target:
      kind: ValidatingWebhookConfiguration
      name: validator.trainer.kubeflow.org
  - path: patches/trainer-deployment-no-istio.yaml
    target:
      kind: Deployment
      name: kubeflow-trainer-controller-manager
  # KFP: create metadb/mlpipeline/cachedb before metadata-grpc starts; relax MLMD probes
  - path: patches/metadata-grpc-mysql-init.yaml
    target:
      kind: Deployment
      name: metadata-grpc-deployment
  - path: patches/metadata-grpc-probes.yaml
    target:
      kind: Deployment
      name: metadata-grpc-deployment
  # Disable Istio sidecar for MySQL (allows non-mTLS connections from init containers)
  - path: patches/mysql-no-istio-sidecar.yaml
    target:
      kind: Deployment
      name: mysql
      namespace: kubeflow
  # Disable mTLS for MySQL and SeaweedFS (init containers can't do mTLS, some pods have no sidecar)
  - path: patches/mysql-destinationrule-disable-mtls.yaml
    target:
      kind: DestinationRule
      name: ml-pipeline-mysql
      namespace: kubeflow
  - path: patches/seaweedfs-destinationrule-disable-mtls.yaml
    target:
      kind: DestinationRule
      name: ml-pipeline-seaweedfs
      namespace: kubeflow
  # Note: Custom patches for KFP (Postgres, MinIO) and Katib (Postgres) are disabled
  # until the base deployment is working. The default configs use MySQL/MariaDB.
  # TODO: Re-enable patches after verifying basic deployment works
