---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name prefect-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      metadata:
        labels:
          app.kubernetes.io/managed-by: Helm
        annotations:
          meta.helm.sh/release-name: prefect-server
          meta.helm.sh/release-namespace: datasci
      data:
        # App
        BAZARR__API_KEY: '{{ .BAZARR_API_KEY }}'
  dataFrom:
  - extract:
      key: bazarr
---
# yaml-language-server: $schema=https://lds-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name prefect-db-secret
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: crunchy-pgo-secrets
    kind: ClusterSecretStore
  target:
    name: *name
    creationPolicy: Owner
    deletionPolicy: Retain
    template:
      type: Opaque
      metadata:
        labels:
          app.kubernetes.io/managed-by: Helm
        annotations:
          meta.helm.sh/release-name: prefect-server
          meta.helm.sh/release-namespace: datasci
      data:
        prefect_DBENGINE: postgresql
        port: "5432"
        postgresql.auth.database: '{{ .dbname }}'
        postgresql.externalHostname: '{{ .host }}'
        postgresql.auth.username: '{{ .user }}'
        postgresql.auth.password: '{{ .password }}'
        PREFECT_API_DATABASE_PASSWORD: '{{ .password }}'
        PREFECT_API_DATABASE_CONNECTION_URL: 'postgresql+asyncpg://{{ .user }}:{{ .password }}@{{ .host }}:5432/{{ .dbname }}'
        PREFECT_POSTGRESQL__USE_PGBOUNCER: 'false'
        username: '{{ .user }}'
        password: '{{ .password }}'
  dataFrom:
  - extract:
      key: postgres-pguser-prefect
